
<div class="modal fade" role="dialog" tabindex="-1" id="modal-sidang">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Hasil Sidang</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
			<div class="modal-body">
				<p class="modal-text">Upload dokumen ke Google Drive Anda, get shareable link, lalu paste ke field di bawah ini.</p>
				<div><input type="url" id="field-url-sidang" style="width: 100%;" placeholder="URL"></div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" id="btn-sidang-tolak" type="button" data-dismiss="modal">Tolak</button>
				<button class="btn btn-success btn-confirm" id="btn-sidang-setuju" type="button">Simpan</button>
			</div>
		</div>
	</div>
</div>