
    <link rel="stylesheet" href="<?php echo base_url(); ?>assets/bootstrap/css/bootstrap.min.css?h=a386f1178839eba72affce22d3fe17d5">
    <link rel="stylesheet" href="<?php echo base_url(); ?>assets/css/nunito.css">
    <link rel="stylesheet" href="<?php echo base_url(); ?>assets/fonts/fontawesome-all.min.css?h=03ab36d1dde930b7d44a712f19075641">
    <link rel="stylesheet" href="<?php echo base_url(); ?>assets/fonts/font-awesome.min.css?h=03ab36d1dde930b7d44a712f19075641">
    <link rel="stylesheet" href="<?php echo base_url(); ?>assets/fonts/fontawesome5-overrides.min.css?h=03ab36d1dde930b7d44a712f19075641">
    <link rel="stylesheet" href="<?php echo base_url(); ?>assets/css/datatables.css">
    <link rel="stylesheet" href="<?php echo base_url(); ?>assets/css/style.css?h=e65eeae9296fb6410c927d5a8af1e142">