<!DOCTYPE html>
<html style="width: 100%;height: 100%;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SI PAK Dosen</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=a309ad80aa80040d14f8bbfbe03d74ab">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css?h=03ab36d1dde930b7d44a712f19075641">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css?h=03ab36d1dde930b7d44a712f19075641">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css?h=03ab36d1dde930b7d44a712f19075641">
    <link rel="stylesheet" href="assets/css/style.css?h=e65eeae9296fb6410c927d5a8af1e142">
</head>

<body class="d-flex" style="width: 100%;height: 100%;">
    <div class="row no-gutters d-flex flex-grow-1">
        <div class="col">
            <div class="d-flex align-self-center" style="height: 100%;"><img class="d-xl-flex flex-row justify-content-center align-content-center align-self-center justify-content-xl-end align-items-xl-start" src="assets/img/uinsa-1.png?h=e5d0a9bdcc8b31841c76f567bf5104d1" style="width: 40%;margin-left: auto;margin-top: auto;margin-right: auto;margin-bottom: auto;"></div>
        </div>
        <div class="col">
            <div class="bg-primary shadow d-flex flex-row justify-content-center align-items-center align-content-center align-self-center" style="width: 100%;height: 100%;">
                <form id="form-login" style="width: 60%;" method="post">
                    <h1 class="text-center" style="color: rgb(255,255,255);margin-bottom: 24px;">Login</h1><label style="color: rgb(255,255,255);">Nip</label><input class="form-control" type="text" id="field-username" placeholder="NIP" name="username"><label class="text-white" style="margin-top: 24px;">Password</label><input class="form-control"
                        type="password" id="field-password" placeholder="Password" name="password"><button class="btn btn-primary border-white float-right" id="btn-login" type="submit" style="margin-top: 24px;">Login</button></form>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-error">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-white bg-danger">
                    <h4 class="modal-title">Error</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <p>Error description.</p>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Tutup</button></div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js?h=83e266cb1712b47c265f77a8f9e18451"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js?h=63715b63ee49d5fe4844c2ecae071373"></script>
    <script src="assets/js/functions.js?h=ed0814f72ba0162dcf661d39f55c89a1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme.js?h=6d33b44a6dcb451ae1ea7efc7b5c5e30"></script>
</body>

</html>