<!DOCTYPE html>


<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
	<?php $this->view("umum/CommonCSS.html"); ?>
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div><img src="<?php echo base_url(); ?>assets/img/uinsa-1.png?h=e5d0a9bdcc8b31841c76f567bf5104d1" style="width: 34px;height: 34px;"></div>
                    <div class="sidebar-brand-text mx-3"><span>SI PAK Dosen</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item bg-light" role="presentation"><a class="nav-link text-dark active" href="<?php echo base_url(); ?>dosen/pak"><i class="fas fa-file-invoice"></i><span>Pengajuan PAK</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="<?php echo base_url(); ?>penilai/pak"><i class="fas fa-user"></i><span>Penilaian PAK</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                                <li class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="badge badge-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                                        role="menu">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>$290.29 has been deposited into your account!</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                            </div>
                                        </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
                                </li>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <li class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small nama-user" type="submit"><?=$_SESSION['nama'];?></span><img class="border rounded-circle img-profile" src="<?php echo base_url(); ?>assets/img/avatars/avatar1.jpeg?h=0ecc82101fb9a10ca459432faa8c0656"></a>
                                    <div
                                        class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu"><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                        <a
                                            class="dropdown-item" role="presentation" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="<?php echo base_url(); ?>logout"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                    </li>
                    </li>
                    </ul>
            </div>
            </nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <!-- Start: Form -->
                        <div class="card">
                            <div class="card-header bg-white">
                                <h4 class="d-inline-block">Pengajuan PAK</h4>
                                <form class="d-none float-right d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                    <div class="input-group">
                                        <div class="input-group-append"></div>
                                    </div>
                                </form><button class="btn btn-success float-right btn-submit-pak" type="submit">Submit</button><button class="btn btn-primary float-right btn-simpan-pak" type="submit">Simpan</button></div>
                            <div class="card-body d-xl-flex flex-column justify-content-around justify-content-xl-start align-items-xl-start"
                                style="width: 919px;">
                                <div class="input-group" style="margin-top: 11px;"  >
                                    <div class="input-group-prepend"><span class="input-group-text" style="width: 235px;">Pemohon</span></div><div  class="form-control nama-pemohon"><?=$dosen->nama;?></div>
                                    <div class="input-group-append"></div>
                                </div>
                                <div class="input-group" style="margin-top: 11px;"  >
                                    <div class="input-group-prepend"><span class="input-group-text" style="width: 235px;">Sub Rumpun Ilmu</span></div><div  class="form-control sub-rumpun"><?=$dosen->subrumpun;?></div>
                                    <div class="input-group-append"></div>
                                </div>
                                <div class="input-group" style="margin-top: 11px;"  >
                                    <div class="input-group-prepend"><span class="input-group-text" style="width: 235px;">Jabatan Tujuan</span></div><div  class="form-control jabatan-tujuan"><?=$jabatanTujuan->jabatan;?></div>
                                    <div class="input-group-append"></div>
                                </div>
                                <div class="input-group" style="margin-top: 11px;"  >
                                    <div class="input-group-prepend"><span class="input-group-text" style="width: 235px;">Angka kredit sebelumnya</span></div><div  class="form-control kredit-sebelumnya"><?=$dosen->kreditKumulatif;?></div>
                                    <div class="input-group-append"></div>
                                </div>
                                <div class="input-group" style="margin-top: 11px;"  >
                                    <div class="input-group-prepend"><span class="input-group-text" style="width: 235px;">Angka kredit diperlukan</span></div><div  class="form-control kredit-diperlukan"><?=$jabatanTujuan->kreditMinimal;?></div>
                                    <div class="input-group-append"></div>
                                </div>
                                <div class="input-group" style="margin-top: 11px;"  >
                                    <div class="input-group-prepend"><span class="input-group-text" style="width: 235px;">Angka kredit didapat</span></div><div  class="form-control kredit-diperlukan">
									<?php
										$nilai = $dosen->kreditKumulatif;
										foreach($items as $item){
											$nilai += $item->nilai;
										}
										echo $nilai;
									?></div>
                                    <div class="input-group-append"></div>
                                </div>
                    </div>
                </div>
                <!-- End: Form -->
            </div>
        </div>
		<!-- kredit per kategori
        <div class="row" style="margin-top: 20px;">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-white">
                        <h4 class="d-inline-block">Kredit per Kategori</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-hover">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Kategori</th>
                                        <th>Subtotal</th>
                                        <th>Minimal</th>
                                        <th>Maksimal</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
									<?php foreach($batasKategori as $batas){ ?>
                                    <tr>
                                        <td class="nilai-kategori"><?=$batas->kategori;?></td>
                                        <td class="nilai-kategori-subtotal"></td>
                                        <td class="nilai-kategori-minimal"><?=$batas->minimal;?></td>
                                        <td class="nilai-kategori-maksimal"><?=$batas->maksimal;?></td>
                                        <td class="nilai-kategori-total"></td>
                                    </tr>
									<?php } ?>
                                    <tr class="text-light bg-success">
                                        <td>Total</td>
                                        <td class="total-subtotal"></td>
                                        <td class="minimal-jabatan"><?=$jabatanTujuan->kreditMinimal;?></td>
                                        <td>-</td>
                                        <td class="total-akhir"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row" style="margin-top: 20px;">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-white">
                        <h4 class="d-inline-block">Kegiatan</h4>
                        <form class="d-none float-right d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small field-search-item field-search-item-edit" type="text" placeholder="Cari Kegiatan">
                                <div class="input-group-append"><button class="btn btn-primary py-0 btn-search-item btn-search-item-edit" type="button"><i class="fas fa-search"></i></button></div>
                            </div>
                        </form>
                    </div>
                    <div class="card-body accordion" id="item-penilaian-holder">
						<?php 
						foreach($items as $item){
							$this->view("dosen/ItemPenilaian.html", $item); 
						}
						?>
                    </div>
                    <div class="card-footer bg-white">
                        <div class="float-right"><button class="btn btn-light border-dark btn-prev-item btn-prev-item-edit" type="button">&lt;</button>
                            <div class="d-inline-block"><button class="btn btn-light btn-halaman-item btn-halaman-item-edit" id="btn-next-item" type="button">1</button></div><button class="btn btn-light border-dark" type="button">&gt;</button></div><button class="btn btn-primary"
                            id="btn-tambah-item" type="submit">Tambah</button><button class="btn btn-primary btn-submit-pak" type="submit">Simpan</button><button class="btn btn-success btn-submit-pak btn-submit" type="submit">Submit</button></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © UINSA2019</span></div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></footer>
    </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-dokumen">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Dokumen Bukti</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <p>Upload dokumen ke Google Drive Anda, get shareable link, lalu paste ke field di bawah ini.</p>
                    <div><input type="url" id="field-url-dokumen" style="width: 100%;" placeholder="URL dokumen"></div>
                </div>
                <div class="modal-footer"><button class="btn btn-primary" id="btn-simpan-dokumen" type="button">Simpan</button></div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-unsur">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title d-inline-block float-left">Pilih Unsur</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive table-hover">
                                <table class="table" id="tabel-unsur">
                                    <thead>
                                        <tr>
                                            <th>Kategori</th>
                                            <th>Kegiatan</th>
                                            <th>Batas</th>
                                            <th>Kredit</th>
                                            <th>Bukti</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										<?php foreach($unsurs as $unsur){ ?>
                                        <tr class="clickable-row row-unsur" data-id-unsur="<?=$unsur->id;?>">
                                            <td><?=$unsur->kategori;?></td>
                                            <td><?=$unsur->kegiatan;?></td>
                                            <td><?php if($unsur->batas) echo $unsur->batas . ($unsur->unit?" " . $unsur->unit:"") . ($unsur->jenisBatas?(" " . $unsur->jenisBatas):"");?></td>
                                            <td><?=$unsur->kreditPerItem;?></td>
                                            <td><?=$unsur->bukti;?></td>
                                        </tr>
										<?php } ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<?php $this->view("modal/Error.html"); ?>
	<?php $this->view("modal/InputUrl.html"); ?>
	<?php $this->view("modal/Konfirmasi.html"); ?>
	<?php $this->view("umum/CommonJS.html"); ?>
	<script>
		var dosen = <?=json_encode($dosen);?>;
		var pak = <?=json_encode($pak);?>;
		var jabatanTujuan = <?=json_encode($jabatanTujuan);?>;
		var items = <?=json_encode($items);?>;
		<?php 
			$unsurDict = array();
			foreach($unsurs as $unsur){
				$unsurDict[$unsur->id] = $unsur;
			}
		?>
		var unsurs = <?=json_encode($unsurDict);?>;
		<?php 
			$batasDict = array();
			foreach($batasKategori as $batas){
				$batasDict[$batas->idKategori] = $batas;
			}
		?>
		var batasKategori = <?=json_encode($batasDict);?>;
		var templateItem = "<?php echo escape($this->view("dosen/ItemPenilaian.html", $emptyItem, true)); ?>";
		$(document).ready(function(){
			$("#tabel-unsur").DataTable({pageLength: 5});
		});
	</script>
</body>

</html>