
<div class="card item-penilaian" data-id-item="<?=$idItem;?>" data-id-unsur="<?=$idUnsur;?>" data-no="<?=$no;?>" data-id-kategori="<?=$idKategori;?>">
	<div class="btn clickable m-0 text-left card-header bg-danger p-relative item-header" data-toggle="collapse" href="#item-body-<?=$no;?>">
		<div class="d-flex">
			<div class="fill-width">
				<p class="text-white d-inline-block item-kegiatan p-relative mr-5">
					<span class="item-no"><?=$no;?></span>. <span class="item-kegiatan-kegiatan"><?=$kegiatan;?></span>
				</p>	
			</div>
			<div class="">
				<a href="javascript:void(0);" class="float-right btn btn-sm btn-primary text-white d-inline-block  border border-light p-relative btn-change-item">Ganti</a>
				<a href="javascript:void(0);" class="float-right btn btn-sm btn-danger text-white d-inline-block border border-light  p-relative btn-delete-item">Hapus</a>
			</div>
		</div>
	</div>
	<div class="card-body collapse item-body" id="item-body-<?=$no;?>">
		<div>
			<div class="row">
				<div class="col">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr></tr>
							</thead>
							<tbody>
								<tr>
									<td>Kategori</td>
									<td class="item-kategori"><?=$kategori;?></td>
								</tr>
								<tr class="row-tahun <?=$tahun?"":"d-none";?>">
									<td>Tahun</td>
									<td><input type="number" class="field-tahun" data-last-value="<?=$tahun;?>" value="<?=$tahun;?>"></td>
								</tr>
								<tr class="row-semester <?=$semester?"":"d-none";?>">
									<td>Semester:</td>
									<td>
										<select class="form-control field-semester"  data-last-value="<?=$semester;?>" name="idSubrumpun" required="true">
											<option value="1">Ganjil</option>
											<option value="2">Genap</option>
										</select>
									</td>
								</tr>
								<tr class="row-bukti">
									<td>Bukti</td>
									<td>
										<p class="item-bukti <?=$bukti?"":"d-none";?>"><?=$bukti;?></p>
										<div>
											<!--
											<a class="btn btn-primary btn-sm btn-draft-dokumen <?=$bukti?"":"d-none";?>" href="javascript:void(0);"  target="_blank">Draft</a>
											-->
											<button class="btn btn-primary btn-sm btn-input-dokumen" type="button">Input</button>
											<a class="btn btn-primary btn-sm btn-lihat-dokumen" href="<?=(isset($urlDokumen)&&$urlDokumen)?$urlDokumen:"#";?>"  target="_blank">Lihat</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr></tr>
							</thead>
							<tbody>
								<tr class="row-batas <?=$batas?"":"d-none";?>">
									<td>Batas</td>
									<td class="item-batas"><?php echo $batas . ($unit?(" " . $unit):"") . ($jenisBatas?("/" . $jenisBatas):"");?></td>
								</tr>
								<tr class="row-jumlah">
									<td>Jumlah <span class="item-unit"><?=$unit?"(".$unit.")":"";?></span></td>
									<td><input type="number" class="field-jumlah"  data-last-value="<?=$jumlah;?>"  value="<?=$jumlah;?>"></td>
								</tr>
								<tr class="row-nilai">
									<td>Angka Kredit</td>
									<td class="item-nilai"><?=$nilai;?></td>
								</tr>
								<tr class="row-keterangan <?=$keterangan?"":"d-none";?>">
									<td>Keterangan</td>
									<td class="item-keterangan"><?=$keterangan;?></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>